/* Registro.module.css */

/* Contenedor del formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Estilos del formulario */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
}

/* Estilos de las etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Estilos de los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos de los campos de entrada en foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos del botón de envío */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5f5f5f;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos del botón de envío al pasar el cursor */
button[type="submit"]:hover {
    background-color: #5f5f5f;
}

/* Estilos del mensaje de error */
.errorMessage {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
